<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713210896437-j2f8bc8ipura4g4eohmv9l8meuefpd98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713210896437-j2f8bc8ipura4g4eohmv9l8meuefpd98</string>
	<key>API_KEY</key>
	<string>AIzaSyBgBNwIGSuLDCoL8GJF9UAOEDeDOVgdVVA</string>
	<key>GCM_SENDER_ID</key>
	<string>713210896437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crannull.fdefender</string>
	<key>PROJECT_ID</key>
	<string>new-app-8ac27</string>
	<key>STORAGE_BUCKET</key>
	<string>new-app-8ac27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713210896437:ios:524015ccda00c11f1cd17c</string>
</dict>
</plist>